---
export const prerender = false;

import { db, sql, isDbError } from 'astro:db';

import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header';
import Footer from '../../components/Footer.astro';
import { ProductCard, RecommendedProductCard } from '../../components/Card';
import { NavigationMenu } from '../../components/Menu';
import { type Product, type Item, type RecommendedProduct } from '../../lib/constants';
import { NavigationButton, NavigationMethod } from '../../components/Button';

const { category, productId } = Astro.params;

let products;

// TODO: cache
// TODO: use proper drizzle-orm query
const statement = sql`
	SELECT p1.*, '[' || GROUP_CONCAT(json_object('name', p2.name, 'slug', p2.slug, 'category', p2.category)) || ']' AS recommendations, (SELECT COUNT(*) FROM inventory where inventory.product = p1.id) AS quantity FROM Recommendations r JOIN Products p1 ON r.product = p1.id JOIN Products p2 ON r.similar = p2.id WHERE p1.slug = ${productId} AND p1.category = ${category} GROUP BY p1.id;
`.mapWith(String);

try {
    products = await db.all(statement);
} catch (err) {
    if (isDbError(err)) {
        console.info('LibSQL related error');
    }
    console.error(err);
    return new Response('An unexpected error occurred', { status: 500 });
}

if (!products || !products.length) {
    return Astro.redirect('/404');
}

const selectedProduct = (products[0] as Product);
selectedProduct.included = JSON.parse(selectedProduct.included as string);
selectedProduct.recommendations = JSON.parse(selectedProduct.recommendations as string);
---

<Layout subtitle={selectedProduct.name}>
	<Header client:load />
	<main class="py-2 mb-8">
		<div class="mx-8">
			<NavigationButton method={NavigationMethod.Back} client:load>Back</NavigationButton>
		</div>
		<section class="my-12 mx-8">
            <ProductCard
                isPreview={false}
                name={selectedProduct.name}
                description={selectedProduct.description}
                features={selectedProduct.features}
                category={selectedProduct.category}
                productId={selectedProduct.slug}
                galleryImages={selectedProduct.images}
                isNew={selectedProduct.new}
                price={selectedProduct.price}
                includes={selectedProduct.included as Array<Item>}
                availableQuantity={selectedProduct.quantity}
                client:load         
            />
		</section>
		<section class="my-12 mx-8">
			<RecommendedProductCard 
				recommendations={selectedProduct.recommendations as Array<RecommendedProduct>}
				client:visible
			/>
		</section>
		<section class="my-24 mx-8">
			<NavigationMenu 
				categories={['headphones', 'speakers', 'earphones']} 
				client:visible 
			/>
		</section>
	</main>
	<Footer navLinks={[
		{ name: 'Home', url: '/' }, 
		{ name: 'Headphones', url: '/headphones' }, 
		{ name: 'Speakers', url: '/speakers' }, 
		{ name: 'Earphones', url: '/earphones' }
	]} />
</Layout>
