---
import { Image } from 'astro:assets';
import { Link } from 'react-aria-components';
import { type NavLink } from '../lib/constants';

import logo from '../assets/shared/desktop/logo.svg';
import bestGearMobile from '../assets/shared/mobile/image-best-gear.jpg';
import bestGearTablet from '../assets/shared/tablet/image-best-gear.jpg';
import bestGearDeskop from '../assets/shared/desktop/image-best-gear.jpg';

import FacebookIcon from '../assets/shared/desktop/icon-facebook.svg';
import InstagramIcon from '../assets/shared/desktop/icon-instagram.svg';
import TwitterIcon from '../assets/shared/desktop/icon-twitter.svg';

const { navLinks, showAbout = true } = Astro.props;
---
<footer class="w-full">
    {
        !showAbout ? null : (
            <section class="flex flex-col justify-center items-center text-black bg-white">
                <div class="flex flex-col lg:flex-row-reverse items-center lg:h-[588px] mx-8 lg:mx-40 mb-[120px]">
                    <figure class="h-[300px] lg:h-full w-full lg:w-auto overflow-hidden mb-[20px] md:mb-16 lg:mb-0">
                        <picture>
                            <source srcset={bestGearMobile.src} media="(max-width: 767px)">
                            <source srcset={bestGearTablet.src} media="(max-width: 1023px)">
                            <source srcset={bestGearDeskop.src} media="(min-width: 1024px)">
                            <Image src={bestGearMobile} class="object-center object-cover aspect-square w-full h-full rounded-md" alt="man with headphones" loading="lazy" /> 
                        </picture>
                    </figure>
                    <div class="lg:w-1/2 md:px-28 lg:px-0 lg:pr-40 text-center lg:text-left">
                        <h2 class="font-bold uppercase text-[28px] md:text-[40px] md:leading-[44px] tracking-[1px] mt-[20px] lg:mt-0">Bringing you the <span class="text-dim-orange">best</span> audio gear</h2>
                        <p class="font-medium text-[15px] leading-[25px] opacity-50 mt-8 md:px-2 lg:px-0">
                            Located at the heart of New York City, Audiophile is the premier store for high end headphones, 
                            earphones, speakers, and audio accessories. We have a large showroom and luxury demonstration 
                            rooms available for you to browse and experience a wide range of our products. Stop by our store 
                            to meet some of the fantastic people who make Audiophile the best place to buy your portable audio equipment.
                        </p>
                    </div>
                </div>
            </section>
        ) 
    }
    <section class="flex flex-col justify-center items-center px-8 md:px-12 lg:px-40 text-white bg-black">
        <div class="flex flex-col items-center md:items-start w-full">
            <div class="w-[6.3125rem] h-1 bg-dim-orange"></div>
            <div class="flex flex-col lg:flex-row lg:justify-between items-center md:items-start my-10 w-full">
                <Image src={logo} alt="main site logo" loading='lazy' />
                <nav class="mt-8 lg:mt-0">
                    <ol class="list-none flex flex-col justify-center md:justify-start items-center md:flex-row space-y-4 md:space-y-0 md:space-x-4">
                        {
                            navLinks.map((navLink: NavLink) => (
                                <Link href={navLink.url} className='font-bold text-[13px] tracking-[2px] leading-[25px] uppercase hover:text-dim-orange'>
                                    { navLink.name }
                                </Link>
                            ))
                        }
                    </ol>
                </nav>
            </div>
        </div>
        <div class="flex flex-col w-full">
            <p class="text-center md:text-left font-medium text-[15px] leading-[25px] tracking-normal opacity-50 md:mb-20 lg:mb-0 w-full lg:w-[540px]">
                Audiophile is an all in one stop to fulfill your audio needs. We're a small team of music lovers 
                and sound specialists who are devoted to helping you get the most out of personal audio. Come and 
                visit our demo facility - we’re open 7 days a week.
            </p>
            <div class="flex flex-col md:flex-row md:justify-between items-center w-full">
                <p class="text-center md:text-left my-8 font-bold text-[15px] leading-[25px] tracking-normal opacity-50">Copyright { new Date().getFullYear() }. All rights reserved</p>
                <ol class="list-none flex flex-row justify-evenly items-center space-x-2 w-[101px] lg:-mt-32">
                    <li>
                        <Link href="#facebook" className="fill-dim-orange" target="_blank">
                            <FacebookIcon />
                        </Link>
                    </li>
                    <li>
                        <Link href="#twitter" target="_blank">
                            <TwitterIcon class="hover:fill-dim-orange" />
                        </Link>
                    </li>
                    <li>
                        <Link href="#instagram" target="_blank">
                            <InstagramIcon class="hover:fill-dim-orange" />
                        </Link>
                    </li>
                </ol>
            </div>
        </div>
    </section>
</footer>